body {
    margin: 0;
    font-family: 'Noto Sans HK', sans-serif;
    height: 1000px
}

#container {
    width: 80%;
    position: relative;
    left: 10%
}

#heading {
    width: 100%;
    height: 80px;
    background-color: rgb(196, 27, 69);
    color: white;
    position: relative;
    margin-top: 50px;
    top: -20px
}

h1 {
    font-family: 'Noto Sans HK', sans-serif;
    text-align: center;
    position: relative;
    top: 25px
}

.team {
    width: 350px;
    height: 330px;
    border-radius: 8px
}

.item {
    overflow: hidden;
    width: 33.33335%;
    float: left;
    height: 330px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px
}

.front {
    float: left;
    backface-visibility: hidden;
    transform: perspective(600px) rotateX(0deg);
    transition: 1.5s;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 8px
}

.back {
    width: 97%;
    height: 350px;
    background-color: #bcaaa4;
    position: relative;
    top: -350px;
    transform: perspective(600px) rotateX(180deg);
    transition: 1.5s;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 0 0 35px brown;
    border-radius: 8px
}

.title_name {
    position: relative;
    top: 110px;
    text-align: center;
    font-size: 30px;
    color: #f4511e
}

.job {
    position: relative;
    top: 90px;
    text-align: center;
    font-size: 25px
}

@keyframes move {
    0% {
        position: relative;
        top: 0px
    }

    100% {
        position: relative;
        top: 80px
    }
}

.social {
    position: relative;
    top: 90px;
    color: black;
    margin-right: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    left: 34%
}

.fa-facebook-square:hover {
    color: #3B558D
}

.fa-linkedin:hover {
    color: #007BB6
}

.fa-twitter-square:hover {
    color: #2CAAE1
}

.item:hover>.front {
    transform: perspective(600px) rotateX(-180deg)
}

.item:hover>.back {
    transform: perspective(600px) rotateX(0deg)
}

@media only screen and (max-width:900px) {
    .item {
        width: 49%;
        position: relative;
        left: 3.5%
    }

    .front,
    .back {
        width: 90%
    }
}

@media only screen and (max-width:650px) {
    .item {
        width: 100%;
        position: relative;
        left: 0
    }

    .front,
    .back {
        width: 100%
    }

    .team {
        width: 600px
    }
}

